body {
    background-color: #660099;
}

div.container {
    padding-top: 9%;
    padding-bottom: 9%;
}

h1 {
    text-align: center;
    padding-bottom: 3%;
}

div.row {
    padding-top: 1%;
    padding-bottom: 1%;
}

div.col-xs-12 {
    text-align: center;
}

div.col-md-12.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1 {
    padding-top: 2%;
}

h1.text-center {
    font-weight: bold;
}

div.col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1 {
    padding: 0;
}

img.img-rounded {
    border: 2px solid;
    border-color: #863186;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#660099), to(#660099));
    background-repeat: no-repeat;
    background-color: #660099 !important;
}

h4.text-muted {
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#660099), to(#660099));
    background-color: #660099  !important;
}

