{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12"><img src="/static/img/vivo_logo.png"></div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div>
                                <h1 class="text-center">Bem-vindo! </h1></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                <div>
                                    <div class="row">
                                        <div class="col-xs-4"><img src="/static/img/4g.png"></div>
                                        <div class="col-xs-4"><img src="/static/img/tel.png"></div>
                                        <div class="col-xs-4"><img src="/static/img/msg.png"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                <h2 class="text-muted">Vamos iniciar seu processo de ativação!</h2>
                                <h2 class="text-muted">Selecione seu plano!</h2></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                <div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-4 col-sm-offset-1 col-xs-4 col-xs-offset-1"><a
                                                href="/info"><img class="img-rounded"
                                                                  src="/static/img/pre_paid.png"></a></div>
                                        <div class="col-md-12 col-sm-4 col-sm-offset-1 col-xs-4 col-xs-offset-1"><a
                                                href="/info"><img class="img-rounded"
                                                                  src="/static/img/post_paid.png"></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}