{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12"><img src="/static/img/vivo_logo.png"></div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div>
                                <h2 class="text-center">Identidade Digital Vivo</h2></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-2 col-xs-offset-1">
                                <img src="/static/img/doc.png"></div>
                            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-8 col-xs-offset-1">
                                <h3 class="text-muted">Digitalize seu CPF</h3></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-2 col-xs-offset-1">
                                <img src="/static/img/camera.png"></div>
                            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-8 col-xs-offset-1">
                                <h3 class="text-muted"> A foto deve conter frente e verso</h3></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-2 col-xs-offset-1">
                                <img src="/static/img/check.jpg"></div>
                            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-8 col-xs-offset-1">
                                <h3 class="text-muted">Revise e envie</h3></div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <form action="/thanks/" method="post" enctype="multipart/form-data" id="form">
                                    <div>
                                        <div class="row">
                                            <label for="uploadFromPC" class="btn btn-primary btn-lg">
                                                <i class="fa fa-cloud-upload"></i> COMEÇAR
                                            </label>
                                            <input id="file-upload" type="file" onchange="this.form.submit()"/>
                                            <input type="file" name="uploadFromPC" id="uploadFromPC"
                                                   title="Upload From PC" accept="image/*" capture="camera"
                                                   onchange="this.form.submit()">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}