{% extends 'base.html' %}
{% block content %}
    <form action="/info/" method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12"><img src="/static/img/vivo_logo.png"></div>
                            </div>
                        </div>
<<<<<<< HEAD
                        <div class="panel-body">
                            <div class="row">
                                <div>
                                    <h2 class="text-center">Identidade Digital Vivo</h2></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-2 col-xs-offset-1">
                                    <img src="/static/img/doc.png"></div>
                                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-8 col-xs-offset-1">
                                    <h3 class="text-muted">Digitalize seu CPF</h3></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-2 col-xs-offset-1">
                                    <img src="/static/img/camera.png"></div>
                                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-8 col-xs-offset-1">
                                    <h3 class="text-muted"> A foto deve conter frente e verso</h3></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-2 col-xs-offset-1">
                                    <img src="/static/img/check.jpg"></div>
                                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-8 col-xs-offset-1">
                                    <h3 class="text-muted">Revise e envie</h3></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                    <div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="file" name="uploadFromPC" id="uploadFromPC"
                                                       class="myButton" title="Upload From PC" value="Upload from PC"
                                                       style="float:left;" accept="image/*" capture="camera"
                                                       onChange="">
                                                <button class="btn btn-primary btn-lg" value="Upload" type="submit">
                                                    COMEÇAR
                                                </button>
                                            </div>
                                        </div>
=======
                        <div class="row">
                            <div class="col-12">
                                <div>
                                    <div class="row">
                                        <button class="btn btn-default btn-lg" value="Upload" onclick="window.location.href='/resize'">COMEÇAR </button>
>>>>>>> origin/master
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<<<<<<< HEAD
    </form>

=======
    </div>
>>>>>>> origin/master

{% endblock %}