{% extends 'base.html' %}
{% block content %}

    <div class="container">
        
                <div class="panel panel-default">
                    <div class="panel-heading" >
                        <div class="row">
                            <div class="col-xs-12"><img src="/static/img/vivo_logo.png"></div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div>
                                <h2 class="text-center">Identidade Digital Vivo</h2>
                            </div>
                        </div>
                            <!--<img class="mb-4" src="/static/images/logo.png" alt="" width="250" height="78">-->
                        <form action="/thanks/" method="post" enctype="multipart/form-data" id="form">

                            <div class="row">
                                <div class="col-12" >
                                    <div class="my-image "></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <label for="uploadFromPC" class="btn btn-primary btn-lg">
                                        <i class="fa fa-cloud-upload"></i> Custom Upload
                                    </label>
                                    <input id="file-upload" type="file" onchange="this.form.submit()"/>
                                    <input type="file" name="uploadFromPC" id="uploadFromPC" title="Upload From PC" accept="image/*"  capture="camera" onchange="this.form.submit()">
                                </div>

                                <div class="col-sm-6 col-xs-12">
                                    <input class="btn btn-primary btn-lg" type="submit" value="Upload" value="/static/img/demo.jpg">
                                </div>

                            </div>
                        </form>
                    </div>

                </div>
    </div>


            


<script>

    $( document ).ready(function() {

         $image = $('.my-image').croppie({
            viewport: {width: 180, height: 180},
            boundary: { width: 200, height: 200 },
            mouseWheelZoom: 'ctrl'

        });

        $image.croppie('bind',{
            url: '/static/img/demo.jpg'
        })

        function readFile(input) {
            console.log(input);
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function (e) {
                    $('.my-image').addClass('ready');
                    $image.croppie('bind', {
                        url: e.target.result
                    }).then(function(){
                        console.log('jQuery bind complete');
                    });             
                }
                
                reader.readAsDataURL(input.files[0]);
            }
            else {
                swal("Sorry - you're browser doesn't support the FileReader API");
            }
        }

        $("#uploadFromPC").change(function(){

            readFile(this);
        })

        $("#form").submit(function (event) {
            $image.croppie('result', 'base64').then(function(e) {
                console.log("base64", e); //UPLOAD FILE TO SERVER
            })
        });

    });
    
</script>

{% endblock %}