{% extends 'base.html' %}
{% block content %}
    <form class="form-signin" method="post" action="/enviar/">
      <div class="text-center mb-4">
        <img class="mb-4" src="/static/images/logo.png" alt="" width="250" height="78">
       <!-- <h1 class="h3 mb-3 font-weight-normal">Floating labels</h1> -->
      </div>
      <div class="alert alert-warning"><strong>Falhou!</strong> A mensagem teve erros em seu envio! Favor verificar a solicitação ou contate a equipe responsável!</div>
      <meta http-equiv="refresh" content="3;url=/" />
      <p class="mt-5 mb-3 text-muted text-center">&copy; IDEA Labs - 2018</p>
    </form>
{% endblock %}
