{% extends 'base.html' %}
{% block content %}

            <!--<img class="mb-4" src="/static/images/logo.png" alt="" width="250" height="78">-->
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <form action="/test_upload1/" method="post" enctype="multipart/form-data" id="form">

                    <div class="my-image "></div>
                    <input type="file" name="uploadFromPC" id="uploadFromPC" class="myButton" title="Upload From PC" value="Upload from PC" style="float:left;" accept="image/*"  capture="camera" onChange="">
                    <input type="submit" value="Upload" value="/static/img/demo.jpg">

                    </form>

                </div>
            </div>

        </div>
            


<script>

    $( document ).ready(function() {

         $image = $('.my-image').croppie({
            viewport: {width: 400, height: 200},
            boundary: { width: 500, height: 500 },
            enableResize: true,
            mouseWheelZoom: 'ctrl'

        });

        $image.croppie('bind',{
            url: '/static/img/demo.jpg'
        })

        function readFile(input) {
            console.log(input);
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function (e) {
                    $('.my-image').addClass('ready');
                    $image.croppie('bind', {
                        url: e.target.result
                    }).then(function(){
                        console.log('jQuery bind complete');
                    });             
                }
                
                reader.readAsDataURL(input.files[0]);
            }
            else {
                swal("Sorry - your browser doesn't support the FileReader API");
            }
        }

        $("#uploadFromPC").change(function(){

            readFile(this);
        })

        $("#form").submit(function (event) {
            $image.croppie('result', 'base64').then(function(e) {
                console.log("base64", e); //UPLOAD FILE TO SERVER
            })
        });

    });
    
</script>

{% endblock %}