{% extends 'base.html' %}
{% block content %}
    <form action="/test_upload/" method="post" enctype="multipart/form-data">
        <div class="text-center mb-4">
            <img class="mb-4" src="/static/img/logo.png" alt="" width="250" height="78">
        </div>

        <div class="text-center">
            <input type="file" name="uploadFromPC" id="uploadFromPC" class="myButton" title="Upload From PC"
                   value="Upload from PC" style="float:left;" accept="image/*" capture="camera">
            <input type="submit" value="Upload">
        </div>
    </form>
{% endblock %}