{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12"><img src="/static/img/vivo_logo.png"></div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div>
                                <h1 class="text-center">Parabéns! </h1>
                            </div>
                                                                

                        </div>
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                <h1>Estamos felizes de ter você como nosso cliente</h1>
                                <h4 class="text-muted">O processo de validação da sua Identidade Digital Vivo foi
                                    concluído com sucesso. Aproveite os benefícios do seu plano!</h4></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-10 col-xs-12">
                                <div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <a class="btn btn-primary btn-lg" role="button" href="{{ file_path }}" download="cpf">VER MEU DOCUMENTO</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        
     
    </script>

{% endblock %}